/* --- VARIABLES --- */
:root {
    --background: #f9f8f2;
}

/* --- FONTS --- */
@font-face {
    font-family: 'koho-bold';
    src: url('/fonts/KoHo-Bold.ttf');
}

@font-face {
    font-family: 'koho-semibold';
    src: url('/fonts/Koho-SemiBold.ttf');
}

/* --- MAIN --- */
body {
    background: var(--background);
}
